@import '../../app/variables.scss';

.about {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  h2 {
    font-size: 3rem;
    color: $font-primary-color;
    span {
      color: $font-secondary-color;
    }
  }
  &_content {
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: unset;
    height: auto;
    padding-bottom: 4rem;
    h2 {
      font-size: 2rem;
    }
    &_content {
      p {
        font-size: 1rem;
      }
    }
    
  }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 1.5rem;
    }
    &_content {
      p {
        font-size: 0.8rem;
      }
    }
    
  }
}